{% block content %}
    <div class="card mb-2">
        <div class="card-body">
            <p>{{ reply.reply }}</p>
            <h5 class="text-info">Author: {{ comm.author.username }}</h5>
            <div class="d-flex flex-row-reverse">
                {% if reply.author == userId %}
                    <form action="/comments/delete/{{ show.id }}/{{ comm.id }}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% if comm.reply.length > 0 %}
        <div class="container-sm justify-content-center">
            {% for reply in comm.reply %}
                {% render './reply.liquid', reply: reply, userId: userId, show: show, username: username %}
            {% endfor %}
        </div>
    {% endif %} 
    <form action="/replies/{{ show.id }}/{{ comm.id }}" method="POST">
        <label class="form-label text-light">Reply:</label>
            <input 
                type="text" 
                name="reply" 
                placeholder="Reply" 
                class="form-control mb-1"
                required
            >
            <input type="submit" class="btn btn-success mb-2" value="add reply">
    </form>
{% endblock %}