{% layout 'layout.liquid'%}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="h1 text-danger-emphasis welcome">TV Show Center!</div>
    <h2 class="display-6 text-light">All TV Shows</h2>
    <div class="row">
        {% for show in shows %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ show.title }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Genre: {{ show.genre }}
                </p>
                <p class="card-text">
                    {% if show.rating <= 1 %}
                        Rating: {{ show.rating }} &#11088
                    {% else %}
                        Rating: {{ show.rating }} &#11088s
                    {% endif %}
                </p>
                <a href="/shows/{{ show.id }}" class="btn btn-info">
                    View {{ show.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/" type="button" class="btn btn-warning mt-3">Home</a>
</div>
{% endblock %}