{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md d-flex flex-column align-items-center">
    <article>
        <div class="h1 text-danger-emphasis welcome text-center">TV Show Center!</div>      
        <h2 class="text-light mt-5 text-center">{{ show.title }}</h2>
        <h6 class="card mt-5">Description: {{ show.description }}</h6>
        <div class="text-light text-center mt-3">Genre: {{show.genre}}</div>
        <h3 class="text-light text-center mt-5 mb-5">                    
        {% if show.rating == 1 %}
            {{ show.owner.username }}'s Rating: &#11088
        {% elsif show.rating == 2 %}
            {{ show.owner.username }}'s Rating: &#11088 &#11088
        {% elsif show.rating == 3 %}
            {{ show.owner.username }}'s Rating: &#11088 &#11088 &#11088
        {% elsif show.rating == 4 %}
            {{ show.owner.username }}'s Rating: &#11088 &#11088 &#11088 &#11088
        {% elsif show.rating == 5 %}
            {{ show.owner.username }}'s Rating: &#11088 &#11088 &#11088 &#11088 &#11088
        {% else %}
            No Rating
        {% endif %}
        </h3>
        <div class="container-md d-flex flex-row justify-content-center">
        {% if show.owner == userId %}
            <a href="/shows/{{ show.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/shows/{{ show.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger ms-2">
            </form>
                <a href="/shows/mine" class="btn btn-warning ms-2">My Shows</a>
                <a href="/shows" class="btn btn-warning ms-2">All Shows</a>
                <a href="/" class="btn btn-warning ms-2">Home</a>
        {% else %}
            <a href="/shows" class="btn btn-warning ms-2">All Shows</a>
            <a href="/shows/mine" class="btn btn-warning ms-2">My Shows</a>
            <a href="/" class="btn btn-warning ms-2">Home</a>
        {% endif %}
        </div>
    </article>
    <hr>
    <h4 class="text-light mt-5">Comments</h4>
    <hr>
    <div class="col-md-6">
        <form action="/comments/{{ show.id }}" method="POST">
            <fieldset>
                <legend class="text-light">Add Comment</legend>
                <input type="text" name="comment" class="form-control mb-1">
                <div class="d-flex flex-row">
                    <span class="text-light mt-5">Rating:</span>
                    <div class="commentrating mt-3 ms-3">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                    </div>
                </div>	
            </fieldset>
            <input type="submit" class="btn btn-success mt-3" value="add comment">
        </form>
    </div>
    <hr>
    {% if show.comments.length > 0 %}
        <div class="container-sm justify-content-center">
            {% for comm in show.comments %}
                {% render '../comment.liquid', comm: comm, userId: userId, show: show, username: username %}
            {% endfor %}
        </div>
    {% else %}
        <small class="text-light">no comments yet...</small>
    {% endif %}
</div>
{% endblock %}